In [1]:
# ques 1 Create a function that can accept two arguments name and age and print its value
def devops(name, age):
    print(name, age)

In [2]:
devops("Shivani", 25)

Shivani 25

In [3]:
# ques 2  Write a function func1() such that it can accept a variable length of  argument and print all arguments value
def func1(a,b,c):
    print(a,b,c)
func1(10,20,30)

10 20 30

In [6]:
# To create functions that take n number of Positional arguments we use *no
def func1(*no):
    for i in no:
        print(i)

func1(10, 20, 30)
func1(40, 50)

10
20
30
40
50

In [7]:
# ques3  Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call
def calculation(a,b):
    print(a+b)
    print(a-b)

In [8]:
calculation(2,4)

6
-2

In [9]:
def calculation(a,b):
    return (a+b),(a-b)

In [10]:
calculation(8,10)

(18, -2)

In [11]:
res = calculation(8,10)
print(res)

(18, -2)

In [13]:
# ques 4 Create a function showEmployee() in such a way that it should accept employee name, and itâ€™s salary and display both, and if the salary is missing in function call it should show it as 9000
def showEmployee(employee_name,salary=9000):
    print(employee_name,salary)
showEmployee("Shivani",9000)
showEmployee("Shivani")

Shivani 9000
Shivani 9000

In [14]:
def showEmployee(employee_name,salary=9000):
    print(employee_name,salary)
showEmployee("Shivani",10000)
showEmployee("Shivani")

Shivani 10000
Shivani 9000

In [18]:
# ques 5 Create an inner function to calculate the addition
# Create an outer function that will accept two parameters a and b, 2nd # Create an inner function inside an outer function that will calculate the addition of a and b
# 3rd At last, an outer function will add 5 into addition and return it
def func1(a,b):
    def func2(a,b):
        return(a+b)
    add=func2(a,b)
    return add+5

In [19]:
func1(4,5)

14

In [22]:
def func1(a,b):
    def func2(a,b):
        return(a+b)
   
    return (func2(a,b))+5
func1(4,5)

14

In [33]:
# ques 6 Write a recursive function to calculate the sum of numbers from 0 to 10
 
def num(a):
    sum=0
    for i in range(0,a+1,1):
        
        sum=sum+i
    return sum

In [34]:
num(10)

55

In [35]:
# ques 7  Assign a different name to function and call it through the new name
def displayStudent(name, age):
    print(name,age)

In [36]:
displayStudent("Shivani",25)

Shivani 25

In [37]:
viewstudent=displayStudent
viewstudent("Shivani",25)

Shivani 25

In [38]:
# ques 8 Generate a Python list of all the even numbers between 4 to 30
print(list( range(4, 30, 2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [39]:
for i in range(4,30,2):
    print(i)

4
6
8
10
12
14
16
18
20
22
24
26
28

In [40]:
# ques 9 Return the largest item from the given list
aList = [4, 6, 8, 24, 12, 2]
max(aList)

24

In [42]:
#example
def num(a,b):
    if a<b:
        print(a)
num(20,50)

20

In [43]:
def num(a,b):
    
    print(a+b,a-b,a*b,a/b)
num(2,4)

6 -2 8 0.5